# Question No- 1

In [7]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy.stats import chi2_contingency
from statsmodels.stats import proportion

In [10]:
cutlets=pd.read_csv(r"C:\Users\X3\Icon\Datasets-main\Cutlets.csv")
cutlets.head(5)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [11]:
p_value=stats.ttest_ind(cutlets['Unit A'],cutlets['Unit B'])
p_value

TtestResult(statistic=0.7228688704678063, pvalue=0.47223947245995, df=68.0)

Inference:p value is 0.4722 which is greater than 0.05 therefore we accept the null hypothesis.

# Question No- 2

In [13]:
laboratory=pd.read_csv(r"C:\Users\X3\Icon\Datasets-main\LabTAT.csv")
laboratory

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [14]:
laboratory.head

<bound method NDFrame.head of      Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]>

In [15]:
laboratory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [17]:
p_value=stats.f_oneway(laboratory['Laboratory 1'],laboratory['Laboratory 2'],laboratory['Laboratory 3'],laboratory['Laboratory 4'])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Inference: p_value is less than 0.05 therefore we accept the null hypothesis

# Question No- 3

In [18]:
BuyerRatio=pd.read_csv(r"C:\Users\X3\Icon\Datasets-main\BuyerRatio.csv")
BuyerRatio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [19]:
BuyerRatio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 212.0+ bytes

In [20]:
ratio=np.array([[50,142,131,70],[435,1523,1356,750]])
ratio

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [21]:
chi2_contingency(ratio)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

Inference: As(p_value=0.6603) > (α=0.05); Accept the null hypothesis.
Thus male-female buyer rations are similar across regions.

# Question No- 4

In [22]:
data=pd.read_csv(r"C:\Users\X3\Icon\Datasets-main\Costomer+OrderForm.csv")
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [24]:
data.Phillippines.value_counts()

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64

In [25]:
data.Indonesia.value_counts()

Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64

In [26]:
data.Malta.value_counts()

Malta
Error Free    269
Defective      31
Name: count, dtype: int64

In [27]:
data.India.value_counts()

India
Error Free    280
Defective      20
Name: count, dtype: int64

In [28]:
order=np.array([[271,267,269,280],[29,33,31,20]])
order

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [30]:
chi2_contingency(order)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

Inference: As (p_value=0.2771) > (α=0.05); Accept the null hypothesis.
Thus Customer order forms defective % doesnt varies wih centre.